.title--projects {
    text-align: center;
    width: 1680px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.wrapper--projects {
    height: 2580px;
    width: 1680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}